[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/LazyVim/starter.git
	branch = main
[submodule "tools/dotbot"]
	path = tools/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "config/gdb-dashboard"]
	path = config/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
